/* Halfmoon > Section > Footer */

#copyright-text {
	opacity: 0.3;
}

#privacy-footer-link {
	opacity: 0.3;
	text-decoration: none;
}

#privacy-footer-link:hover {
	opacity: 0.75;
}

#logo-footer {
	filter: grayscale(100%);
}
