# IDE-related folders
.idea/

# Node.JS
node_modules/
package-lock.json

# Static resources
resources/DecimalJs/
resources/DecimalJsLight/
resources/FontAwesomePro/
resources/HighlightJS/
resources/GliderJs/
resources/PlotlyJs/

resources/NibblePoker/css/*.css
resources/NibblePoker/scss/trash
resources/NibblePoker/js/*.min.js

*.exe
*.url

# Compiled Stuff
*.min.php
tools/items/formula-wizard/*.js
tools/items/formula-wizard/src/*.js

# Others
*.pdn
*.min.json
*.lnk
*.map
*.bak

# Temporary
tmp/
commons/trash/
scrollbar.scss
commons/strings/_*/
_unsorted/
tools/items/*/*.min.js
