# IDE-related folders
.idea/

# Node.JS
node_modules/
package-lock.json

# Static resources
resources/DecimalJs/
resources/DecimalJsLight/
resources/FontAwesomePro/
resources/HighlightJS/
resources/GliderJs/
resources/PlotlyJs/

# Compiled Stuff
*.min.php
*.min.js
commons/strings.json
resources/NibblePoker/css/*.css
tools/items/formula-wizard/*.js
tools/items/formula-wizard/src/*.js

# ???
# Source: https://github.com/sjmulder/nbt-js
tools/items/mc-art-viewer/nbt.js

# Others
*.pdn
*.min.json
*.lnk
*.map
*.bak
*.exe
*.url
*.env
*.sqlite

# Temporary
articles/*.txt
commons/strings/_*/
meow*.ogg
