{% if is_standalone %}
    {# Should never happen for non-tool pages ! #}
    {% extends "bases/standalone.jinja" %}
{% else %}
    {% extends "bases/default.jinja" %}
{% endif %}

{% block head_title %}{{ l10n("head.title", "contact", page_lang) }}{% endblock %}

{% block head_description %}
    <!-- IRRELEVANT, shove it in the opengraph section !!! -->
    {{ l10n("head.title", "contact", page_lang) }}
{% endblock %}

{% block opengraph_tags %}
    <!-- TODO -->
{% endblock %}

{% block main_content %}

    <np-section>
        {% with heading_inner_html=l10n("email.title", "contact", page_lang, "herwin.bozet@nibblepoker.lu"),
                heading_level=2 %}
            {% include 'elements/heading.jinja' %}
        {% endwith %}

        <np-content-spacer>
            <p class="m-s">
                <a href="mailto:Herwin Bozet<herwin.bozet@nibblepoker.lu>?subject=Contact%20via%20NibblePoker.lu" class="a-hidden button-link">
                    <button class="p-xs r-s border b-light success"><i class="fad fa-external-link-alt mr-xs"></i>{{ l10n("email.compose.nibblepoker", "contact", user_lang) }}</button>
                </a>
            </p>
        </np-content-spacer>
    </np-section>

    <np-section>
        {% with heading_inner_html=l10n("twitter.title", "contact", page_lang, "@NibblePoker"),
                heading_level=2 %}
            {% include 'elements/heading.jinja' %}
        {% endwith %}

        <np-content-spacer>
            <p class="m-s">
                <a href="https://twitter.com/messages/compose?recipient_id=937370791334895616" class="a-hidden button-link">
                    <button class="p-xs r-s border b-light primary"><i class="fad fa-external-link-alt mr-xs"></i>{{ l10n("twitter.compose", "contact", user_lang) }}</button>
                </a>
            </p>
        </np-content-spacer>
    </np-section>

{% endblock %}

{% block extra_scripts %}
    <script src="/resources/NibblePoker/js/nibblepoker-default.min.js"></script>
{% endblock %}

