{% if is_standalone %}
    {# Should never happen for non-tool pages ! #}
    {% extends "bases/standalone.jinja" %}
{% else %}
    {% extends "bases/default.jinja" %}
{% endif %}

{% block head_title %}{{ l10n("head.title", "privacy", page_lang) }}{% endblock %}

{% block head_description %}
    <!-- IRRELEVANT, shove it in the opengraph section !!! -->
    {{ l10n("head.title", "privacy", page_lang) }}
{% endblock %}

{% block opengraph_tags %}
    <!-- TODO -->
{% endblock %}

{% block main_content %}
    <!-- Introduction -->
    <np-section>
        {% with heading_inner_html=l10n("introduction.title", "privacy", page_lang, ""),
                heading_level=2 %}
            {% include 'elements/heading.jinja' %}
        {% endwith %}
        <np-content-spacer>
            {% with paragraph_inner_html=l10n("introduction.text.1", "privacy", page_lang) %}
                {% include 'elements/paragraph.jinja' %}
            {% endwith %}
            {% with paragraph_inner_html=l10n("introduction.text.2", "privacy", page_lang) +
                    '<br><i class="fad fa-globe ml-s t-size-8"></i>
                    <a href="https://gdpr.eu/privacy-notice/" class="ml-xs">https://gdpr.eu/</a><br>
                    <i class="fad fa-globe ml-s t-size-8"></i>
                    <a href="https://eur-lex.europa.eu/legal-content/ALL/?uri=CELEX%3A32016R0679" class="ml-xs">https://eur-lex.europa.eu/</a>' %}
                {% include 'elements/paragraph.jinja' %}
            {% endwith %}
        </np-content-spacer>
    </np-section>

    <!-- Data collection (Web) -->
    <np-section>
        {% with heading_inner_html=l10n("data.title", "privacy", page_lang, ""),
                heading_level=2 %}
            {% include 'elements/heading.jinja' %}
        {% endwith %}
        <np-content-spacer>
            {% with paragraph_inner_html=l10n("data.intro.1", "privacy", page_lang) + "<br>" +
                                         l10n("data.intro.2", "privacy", page_lang) %}
                {% include 'elements/paragraph.jinja' %}
            {% endwith %}

            {% with paragraph_inner_html=l10n("data.private.text.1", "privacy", page_lang) + "<br>" +
                                         "<ul class='ml-s l-bullets l-bullet-inside'>" +
                                         "<li>" + l10n('data.private.list.1', "privacy", page_lang) + "</li>" +
                                         "<li>" + l10n('data.private.list.2', "privacy", page_lang) + "</li>" +
                                         "</ul>" %}
                {% include 'elements/paragraph.jinja' %}
            {% endwith %}

            {% with paragraph_inner_html=l10n("data.non_private.text.1", "privacy", page_lang) + "<br>" +
                                         "<ul class='ml-s l-bullets l-bullet-inside'>" +
                                         "<li>" + l10n('data.non_private.list.1', "privacy", page_lang) + "</li>" +
                                         "<li>" + l10n('data.non_private.list.2', "privacy", page_lang) + "</li>" +
                                         "</ul>" %}
                {% include 'elements/paragraph.jinja' %}
            {% endwith %}

            {% with paragraph_inner_html=l10n("data.end.1", "privacy", page_lang) %}
                {% include 'elements/paragraph.jinja' %}
            {% endwith %}
        </np-content-spacer>
    </np-section>

    <!-- Data collection (DNS) -->
    <np-section>
        {% with heading_inner_html=l10n("data_dns.title", "privacy", page_lang, ""),
                heading_level=2 %}
            {% include 'elements/heading.jinja' %}
        {% endwith %}
        <np-content-spacer>
            {% with paragraph_inner_html=l10n("data_dns.intro.1", "privacy", page_lang) + "<br>" +
                                         l10n("data_dns.intro.2", "privacy", page_lang) %}
                {% include 'elements/paragraph.jinja' %}
            {% endwith %}

            {% with paragraph_inner_html=l10n("data_dns.private.text.1", "privacy", page_lang) + "<br>" +
                                         "<ul class='ml-s l-bullets l-bullet-inside'>" +
                                         "<li>" + l10n('data_dns.private.list.1', "privacy", page_lang) + "</li>" +
                                         "</ul>" %}
                {% include 'elements/paragraph.jinja' %}
            {% endwith %}

            {% with paragraph_inner_html=l10n("data_dns.non_private.text.1", "privacy", page_lang) + "<br>" +
                                         "<ul class='ml-s l-bullets l-bullet-inside'>" +
                                         "<li>" + l10n('data_dns.non_private.list.1', "privacy", page_lang) + "</li>" +
                                         "<li>" + l10n('data_dns.non_private.list.2', "privacy", page_lang) + "</li>" +
                                         "</ul>" %}
                {% include 'elements/paragraph.jinja' %}
            {% endwith %}

            {% with paragraph_inner_html=l10n("data_dns.end.1", "privacy", page_lang) %}
                {% include 'elements/paragraph.jinja' %}
            {% endwith %}
        </np-content-spacer>
    </np-section>

{% endblock %}

{% block extra_scripts %}
    <script src="/resources/NibblePoker/js/nibblepoker-default.min.js"></script>
{% endblock %}
