{% if standalone %}
    {% extends "base_standalone.jinja" %}
{% else %}
    {% extends "base_www.jinja" %}
{% endif %}

{% block head_title %}{{ l10n("head.title", "home", user_lang) }}{% endblock %}
{% block head_description %}{{ l10n("head.title", "home", user_lang) }}{% endblock %}

{% block header_title %}
    <i class="fad fa-home t-size-16 mr-s t-muted"></i>{{ l10n("header.title", "home", user_lang) }}
{% endblock %}

{% block main_content %}
    {{ render_h1(l10n("intro.title", "home", user_lang, ["NibblePoker." + domain_tld] )) }}

    {{ render_paragraph(l10n("intro.text.1", "home", user_lang)) }}
    {{ render_paragraph(l10n("intro.text.2", "home", user_lang)) }}


    {{ render_h2(l10n("updates.title", "home", user_lang)) }}

    <p><i class="fad fa-calendar-alt mr-xs mt-s"></i>{{ l10n("updates.4.date", "home", user_lang) }}</p>
    {{ render_list_ul([
        l10n("updates.4.text.1", "home", user_lang),
        l10n("updates.4.text.2", "home", user_lang),
        l10n("updates.4.text.3", "home", user_lang),
        l10n("updates.text.privacy", "home", user_lang)
    ]) }}

    <p><i class="fad fa-calendar-alt mr-xs mt-s"></i>{{ l10n("updates.3.date", "home", user_lang) }}</p>
    {{ render_list_ul([
        l10n("updates.3.text.1", "home", user_lang),
        l10n("updates.3.text.2", "home", user_lang),
        l10n("updates.3.text.3", "home", user_lang),
        l10n("updates.text.privacy", "home", user_lang)
    ]) }}

    <p><i class="fad fa-calendar-alt mr-xs mt-s"></i>{{ l10n("updates.2.date", "home", user_lang) }}</p>
    {{ render_list_ul([
        l10n("updates.2.text.1", "home", user_lang),
        l10n("updates.2.text.2", "home", user_lang),
        l10n("updates.2.text.3", "home", user_lang),
        l10n("updates.2.text.4", "home", user_lang),
        l10n("updates.text.privacy", "home", user_lang)
    ]) }}

    <p><i class="fad fa-calendar-alt mr-xs mt-s"></i>{{ l10n("updates.1.date", "home", user_lang) }}</p>
    {{ render_list_ul([
        l10n("updates.1.text.1", "home", user_lang),
        l10n("updates.text.privacy", "home", user_lang)
    ]) }}

{% endblock %}

{% block extra_scripts %}
    <script src="{{ url_for("static", filename="resources/NibblePoker/js/nibblepoker-default.min.js") }}"></script>
{% endblock %}
