{% if is_standalone %}
    {% extends "base_standalone.jinja" %}
{% else %}
    {% extends "base_www.jinja" %}
{% endif %}

{% block head_title %}{{ l10n(tool_data.metadata.head.title_key, tool_id, user_lang) }}{% endblock %}
{% block head_description %}{{ l10n(tool_data.metadata.head.description_key, tool_id, user_lang) }}{% endblock %}

{% block extra_stylesheets %}
    {{ render_applet_head(applet_data, is_standalone) }}
{% endblock %}

{% block header_title %}
    <i class="fad fa-briefcase t-size-16 mr-s t-muted"></i><a href="../" class="a-hidden">{{ l10n("header.root", "projects", user_lang) }}</a>
    <span class="mobile-hide"><span class="mx-s t-size-15">❱</span>{{ l10n(tool_data.metadata.general.title_key, tool_id, user_lang) }}</span>
{% endblock %}

{% block main_content %}
    {{ render_h1(
        '<i class="' + tool_data.metadata.general.icon + ' t-size-16 mr-s t-muted"></i>' +
        l10n(tool_data.metadata.general.title_key, tool_id, user_lang)
    ) }}

    <div class="px-xxs">
        {% include 'applets/'+applet_data.id+'.jinja' %}
    </div>
{% endblock %}

{% block extra_scripts %}
    {{ render_applet_scripts(applet_data, is_standalone) }}
{% endblock %}
