/* Halfmoon > Page > Content */

@media (max-width: 992px) {
	:root {
		--content-search-image-size: 96px;
	}
}

@media (min-width: 993px) {
	:root {
		--content-search-image-size: 128px;
	}
}

div.content-presentation-container {
	margin-bottom: 10px;
	min-height: var(--content-search-image-size);
	display: flex;
}

div.content-presentation-container > a {
	width: 100%;
	min-height: var(--content-search-image-size);
	text-align: justify;
	color: var(--dm-card-text-color);
}

div.content-presentation-container > a:hover {
	color: var(--dm-card-text-color);
	text-decoration: none;
}

div.content-search-image-container {
	background: var(--dm-card-bg-color) url("/resources/Azias/imgs/3px-tile-0.2.png") repeat fixed center center;
	box-shadow: inset 0 0 25px 1px rgba(255,255,255,0.05);
	border-radius: 8px;
	width: var(--content-search-image-size);
	height: var(--content-search-image-size);
	margin-right: 10px;
	float: left;
}

img.content-search-image {
	max-width: var(--content-search-image-size);
	max-height: var(--content-search-image-size);
	border-radius: 8px;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
}

h3.content-search-title {
	float: none;
	margin: 0;
	text-align: left;
}

div.content-tag-container a:not(:first-child) {
	margin-left: 10px;
}

div.content-tag-container a, div.content-tag-container i {
	/* Doesn't fix the line return issue ! */
	display: inline-block;
}
