<section id="{{ applet_data.id }}-eula" class="mt-l mt-0-if-first">
    {{ render_h2(l10n("disclaimer.warning", "commons", user_lang)) }}

    <div class="content-spacer">
        {{ render_paragraph(l10n("eula.1", applet_data.id, user_lang)) }}
        {{ render_paragraph(l10n("eula.2", applet_data.id, user_lang)) }}
        {{ render_paragraph(l10n("eula.3", applet_data.id, user_lang)) }}
    </div>
</section>

<section id="{{ applet_data.id }}-input" class="mt-l mt-0-if-first">
    {{ render_h2(l10n("file.selection.title", applet_data.id, user_lang)) }}

    <div class="content-spacer mt-s">
        {{ render_file_input(
            applet_data.id + "-input-file", true, ".xlsx, .xlsm", true, false, user_lang,
            l10n("file.selection.1", applet_data.id, user_lang)) }}
    </div>
</section>

<section id="{{ applet_data.id }}-details" class="mt-l mt-0-if-first">
    {{ render_h2(l10n("details.title", applet_data.id, user_lang)) }}

    <div class="content-spacer mt-s">
        <div id="{{ applet_data.id }}-details-empty">
            {{ render_paragraph(l10n("details.empty.1", applet_data.id, user_lang)) }}
        </div>

        <div id="{{ applet_data.id }}-details-populated" hidden>
            {% if is_standalone %}
                {{ render_button(
                    l10n("download.action.all", "commons", user_lang),
                false, applet_data.id + "-files-download-all", "bkgd-green") }}
                {{ render_button(
                    l10n("clear.all.files", "commons", user_lang),
                false, applet_data.id + "-files-clear", "bkgd-orange") }}
            {% else %}
                {{ render_button(
                "<i class=\"fa-duotone fa-solid fa-floppy-disks mr-xs\"></i>" +
                    l10n("download.action.all", "commons", user_lang),
                false, applet_data.id + "-files-download-all", "bkgd-green") }}
                {{ render_button(
                "<i class=\"fa-duotone fa-solid fa-trash mr-xs\"></i>" +
                    l10n("clear.all.files", "commons", user_lang),
                false, applet_data.id + "-files-clear", "bkgd-orange") }}
            {% endif %}
        </div>

        <div id="{{ applet_data.id }}-result-container" class="mt-s"></div>
    </div>
</section>

<template id="tmpl-success-root">
    <div class="bkgd-grid10 w-full r-l border cursor-pointer epr-download-all-click mt-xs">
        <table class="table-p-xxs table-v-center">
            <tr>
                <td rowspan="2" class="br bkgd-green bkgd-grid30 rl-l">
                    {% if is_standalone %}
                        <span class="mx-xxs">✅</span>
                    {% else %}
                        <i class="fa-duotone fa-solid fa-circle-check mx-s"></i>
                    {% endif %}
                </td>
                <td class="w-full t-bold">
                    <span id="tmpl-success-filename">PlaceholderSuccessName.xlsx</span>
                </td>
                <td rowspan="2" class="bl bkgd-blue bkgd-grid30 rr-l">
                    {% if is_standalone %}
                        <span class="mx-xxs">💾</span>
                    {% else %}
                        <i class="fa-duotone fa-download  mx-s"></i>
                    {% endif %}
                </td>
            </tr>
            <tr class="t-italic">
                <td>{{ l10n("result.success.count", applet_data.id, user_lang) }}</td>
            </tr>
        </table>
    </div>
</template>

<template id="tmpl-warning-root">
    <div class="bkgd-grid10 w-full r-l border mt-xs">
        <table class="table-p-xxs table-v-center">
            <tr>
                <td rowspan="2" class="br bkgd-orange bkgd-grid30 rl-l">
                    {% if is_standalone %}
                        <span class="mx-xxs">⚠️</span>
                    {% else %}
                        <i class="fa-duotone fa-solid fa-triangle-exclamation mx-s"></i>
                    {% endif %}
                </td>
                <td class="w-full t-bold">
                    <span id="tmpl-warning-filename">PlaceholderWarningName.xlsx</span>
                </td>
            </tr>
            <tr class="t-italic">
                <td>
                    <span id="tmpl-warning-message-extension">
                        {{ l10n("result.warning.extension", applet_data.id, user_lang) }}
                    </span>
                    <span id="tmpl-warning-message-no-password">
                        {{ l10n("result.warning.password", applet_data.id, user_lang) }}
                    </span>
                </td>
            </tr>
        </table>
    </div>
</template>

<template id="tmpl-error-root">
    <div class="bkgd-grid10 w-full r-l border mt-xs">
        <table class="table-p-xxs table-v-center">
            <tr>
                <td rowspan="2" class="br bkgd-red bkgd-grid30 rl-l">
                    {% if is_standalone %}
                        <span class="mx-xxs">❌</span>
                    {% else %}
                        <i class="fa-duotone fa-solid fa-hexagon-exclamation mx-s"></i>
                    {% endif %}
                </td>
                <td class="w-full t-bold">
                    <span id="tmpl-error-filename">PlaceholderErrorName.xlsx</span>
                </td>
            </tr>
            <tr class="t-italic">
                <td>
                    <span id="tmpl-error-message-jszip">
                        {{ l10n("result.error.jszip", applet_data.id, user_lang) }}
                    </span>
                </td>
            </tr>
        </table>
    </div>
</template>

{% if is_standalone %}
    <section id="{{ applet_data.id }}-licenses" class="mt-l mt-0-if-first">
        {{ render_h2(l10n("license.title", applet_data.id, user_lang)) }}

        <div class="content-spacer">
            {{ render_paragraph(
                l10n("license.text.1", applet_data.id, user_lang) + "<br>" + l10n("license.text.2", applet_data.id, user_lang)
            ) }}
        </div>
    </section>
{% endif %}
