{#
button.jinja


#}
<button 
    class="btn {% if classes %}{{ classes }}{% else %}btn-primary{% endif %}"
    {% if type %}type="{{ type }}"{% else %}type="button"{% endif %}
    {% if id %}id="{{ id }}"{% endif %}
    {% if onclick %}onclick="{{ onclick }}"{% endif %}
    {% if disabled %}disabled{% endif %}
>
    {{ title }}
</button>