{#
release-table.jinja

Parameters:
    * release_id: str
    * release_version: ??? (If None, we use the latest)

Important globals:
    * release_tag_groups: ReleaseSortingTagGroup

Important variables:
    * release_data: ReleaseVersion
#}

{# Prep work #}
{% if release_id is not defined %}
    {{ raise("Tried to render a release table with a null `release_id` !") }}
{% endif %}

{% if release_version is not defined %}
    {% set release_version = none %}
{% endif %}

{% if release_version is none %}
    {% set release_data = get_latest_releases_for(release_id) %}
{% else %}
    {{ raise("Version-specific release tables are not implemented yet !") }}
{% endif %}

{% if release_data is none %}
    {{ raise("Unable to get the release data for `" + release_id + "` !") }}
{% endif %}

{% set release_data_groups = group_single_release(release_data) %}


{# Actual DOM stuff #}
<table class="table-stylish table-p-s border r-l">
    <thead>
    <tr>
        {% for release_column_tag in release_data.columns %}
            {% set release_column_tag_group = release_tag_groups[release_column_tag] %}
            <th>{{l10n(
                      release_column_tag_group.table_header_lang_key,
                      release_column_tag_group.table_header_lang_domain,
                      page_lang
            )}}</th>
        {% endfor %}
        <th>_Files</th>
    </tr>
    </thead>

    {% set grouped_release_data = group_single_release(release_data) %}

    <tbody>
    {% for release_data_subgroup in grouped_release_data %}
        <tr>
        {% with release_data=release_data,
                release_subgroup=release_data_subgroup,
                release_subgroup_is_last=loop.last %}
            {% include 'elements/release-table-subgroup.jinja' %}
        {% endwith %}
        </tr>
    {% endfor %}
    </tbody>
</table>
