/* File inputs with drop thingy */
.np-file-input-drop-container {
    position: relative;
}

.np-file-drop-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input[type=file].np-file-input-drop {
    opacity: 0;
    cursor: pointer;
}

/* Top margin trimmer for heading renderer */


/* Copy of the m*-xs classes */
/* Accommodates the paragraph renderer that has a hard-coded .mt-xs */
.content-spacer {
    margin: calc(1rem* 0.5);
    /*margin-bottom: 0;*/
}

.content-spacer-vertical {
    margin-top: calc(1rem* 0.5);
    margin-bottom: calc(1rem* 0.5);
}

.hide-if-last:last-child {
    display: none;
}

.hide-if-first:first-child {
    display: none;
}
