/* File inputs with drop thingy */

.np-file-input-drop-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

input.np-file-input-drop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.np-file-drop-text {
    text-align: center;
    pointer-events: none;
}

.np-file-drop-buttons {
    display: flex;
    gap: 10px;
    z-index: 10;
}

/* Top margin trimmer for heading renderer */


.t-v-center {
    vertical-align: middle;
}

/* Copy of the m*-xs classes */
/* Accommodates the paragraph renderer that has a hard-coded .mt-xs */
.content-spacer {
    margin: calc(1rem* 0.5);
    /*margin-bottom: 0;*/
}

.content-spacer-vertical {
    margin-top: calc(1rem* 0.5);
    margin-bottom: calc(1rem* 0.5);
}

.hide-if-last:last-child {
    display: none;
}

.hide-if-first:first-child {
    display: none;
}

.mt-0-if-first:first-child {
    margin-top: 0;
}
