/* Halfmoon > Fixes */

.py-01 {
	// Helps in some specific area where a padding of 0 causes alignment issues.
	// This is mostly used in cards and collapse elements.
	padding-top: 0.01rem!important;
	padding-bottom: 0.01rem!important;
}

// Adding a margin to buttons present right after another one.
button + button, .button-link + .button-link > button {
	margin-left: 1.5rem !important;
}

// No idea where this is used.
div.last-inner-collapse-border-fix {
	// TODO: Fix it when it is closed.
	border: var(--collapse-content-border-width) solid var(--dm-collapse-content-border-color) !important;
	border-top: 0 !important;
	border-bottom-left-radius: var(--collapse-content-border-radius) !important;
	border-bottom-right-radius: var(--collapse-content-border-radius) !important;
}

// Fix for ".content-wrapper" on mobile which can be too large due to the main title.
.content-wrapper {
	max-width: 100vw;
}

// Removes tha wasted stace on Chrome !
.overflow-x-scroll {
	overflow-x: auto !important;
}
