/* Halfmoon > Fonts & Text */
// Mostly consist of stuff that's missing in Halfmoon.

.font-size-8 {
	font-size: 0.8rem!important;
}

.font-size-10 {
	font-size: 1.0rem!important;
}

.font-size-26 {
	font-size: 2.6rem!important;
}

.font-size-28 {
	font-size: 2.8rem!important;
}

.font-size-30 {
	font-size: 3.0rem!important;
}

.font-size-35 {
	font-size: 3.5rem!important;
}

.font-size-40 {
	font-size: 4.0rem!important;
}

.text-super-muted {
	color: #89898A;
}
