/* Standalone > Utils */

img.no-save {
	pointer-events: none;
}

.no-select {
	user-select: none;
}

.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	
	::-webkit-scrollbar {
		display: none;
	}
}

.cursor-pointer {
	cursor: pointer;
}

.square-corners {
	border-radius: 0!important;
}

.stretch-align-items {
	align-items: stretch;
}
