{#
applets/excel-password-remover.jinja

Parameters:
    * applet_id     - Applet ID as defined in the applet repository and templates in "templates/applets/".
                      Assumed to be correct from the get-go.
    * applet_uid    - Unique ID for the applet to differentiate it from other instances of the same applet.
    * applet_data   - See `nibblepoker.objects.content.applet.ContentApplet`.
    * applet_config - Config with all custom parameters overriding the default ones that you can
                       get in `applet_data.default_config`.
#}

<section id="{{ applet_uid + "-" + applet_id + "-eula" }}" class="mt-l mt-0-if-first">
    {% with heading_inner_html = l10n("disclaimer.warning", "commons", page_lang),
            heading_level = 2 %}
        {% include 'elements/heading.jinja' %}
    {% endwith %}

    <np-content-spacer>
        {% with paragraph_inner_html = l10n("eula.1", "excel-password-remover", page_lang) %}
            {% include 'elements/paragraph.jinja' %}
        {% endwith %}
        {% with paragraph_inner_html = l10n("eula.2", "excel-password-remover", page_lang) %}
            {% include 'elements/paragraph.jinja' %}
        {% endwith %}
        {% with paragraph_inner_html = l10n("eula.3", "excel-password-remover", page_lang) %}
            {% include 'elements/paragraph.jinja' %}
        {% endwith %}
    </np-content-spacer>
</section>

<section id="{{ applet_uid + "-" + applet_id + "-input" }}" class="mt-l mt-0-if-first">
    {% with heading_inner_html = l10n("file.selection.title", "excel-password-remover", page_lang),
            heading_level = 2 %}
        {% include 'elements/heading.jinja' %}
    {% endwith %}

    <np-content-spacer>
        <form id="{{ applet_uid + "-" + applet_id + "-input-file-form" }}" class="mt-s">
            <label for="{{ applet_uid + "-" + applet_id + "-input-file" }}" class="mr-xxs">
                {{ l10n("file.selection.1", "excel-password-remover", page_lang) }}
            </label>
            <input type="file"
                   id="{{ applet_uid + "-" + applet_id + "-input-file" }}"
                   name="{{ applet_uid + "-" + applet_id + "-input-file" }}"
                   accept=".xlsx, .xlsm"
                   multiple
                   class="p-xxs border r-s">
            <button type="reset" id="{{ applet_uid + "-" + applet_id + "-input-file-reset" }}" hidden></button>
        </form>
    </np-content-spacer>
</section>

<section id="{{ applet_uid + "-" + applet_id + "-details" }}" class="mt-l mt-0-if-first">
    {% with heading_inner_html = l10n("details.title", "excel-password-remover", page_lang),
            heading_level = 2 %}
        {% include 'elements/heading.jinja' %}
    {% endwith %}

    <np-content-spacer>
        <div id="{{ applet_uid + "-" + applet_id + "-details-empty" }}">
            {% with paragraph_inner_html = l10n("details.empty.1", "excel-password-remover", page_lang) %}
                {% include 'elements/paragraph.jinja' %}
            {% endwith %}
        </div>

        <div id="{{ applet_uid + "-" + applet_id + "-details-populated" }}" hidden>
            <button id="{{ applet_uid + "-" + applet_id + "-files-download-all" }}" class="p-xs r-s border b-light success">
                {% if not is_standalone %}
                    <i class="fa-duotone fa-solid fa-floppy-disks mr-xs"></i>
                {% endif %}
                {{ l10n("download.action.all", "commons", page_lang) }}
            </button>
            <button id="{{ applet_uid + "-" + applet_id + "-files-clear" }}" class="p-xs r-s border b-light">
                {% if not is_standalone %}
                    <i class="fa-duotone fa-solid fa-trash mr-xs"></i>
                {% endif %}
                {{ l10n("clear.all.files", "commons", page_lang) }}
            </button>
        </div>

        <div id="{{ applet_uid + "-" + applet_id + "-result-container" }}" class="mt-s"></div>
    </np-content-spacer>
</section>

<template id="{{ applet_uid + "-" + applet_id + "-tmpl-success-root" }}">
    <div class="bkgd-grid10 w-full r-l border cursor-pointer epr-download-all-click mt-xs">
        <table class="table-p-xxs table-v-center">
            <tr>
                <td rowspan="2" class="br bkgd-green bkgd-grid30 rl-l">
                    {% if is_standalone %}
                        <span class="mx-xxs">✅</span>
                    {% else %}
                        <i class="fa-duotone fa-solid fa-circle-check mx-s"></i>
                    {% endif %}
                </td>
                <td class="w-full t-bold">
                    <span id="tmpl-success-filename">PlaceholderSuccessName.xlsx</span>
                </td>
                <td rowspan="2" class="bl bkgd-blue bkgd-grid30 rr-l">
                    {% if is_standalone %}
                        <span class="mx-xxs">💾</span>
                    {% else %}
                        <i class="fa-duotone fa-download mx-s"></i>
                    {% endif %}
                </td>
            </tr>
            <tr class="t-italic">
                <td>{{ l10n("result.success.count", "excel-password-remover", page_lang) }}</td>
            </tr>
        </table>
    </div>
</template>

<template id="{{ applet_uid + "-" + applet_id + "-tmpl-warning-root" }}">
    <div class="bkgd-grid10 w-full r-l border mt-xs">
        <table class="table-p-xxs table-v-center">
            <tr>
                <td rowspan="2" class="br bkgd-orange bkgd-grid30 rl-l">
                    {% if is_standalone %}
                        <span class="mx-xxs">⚠️</span>
                    {% else %}
                        <i class="fa-duotone fa-solid fa-triangle-exclamation mx-s"></i>
                    {% endif %}
                </td>
                <td class="w-full t-bold">
                    <span id="tmpl-warning-filename">PlaceholderWarningName.xlsx</span>
                </td>
            </tr>
            <tr class="t-italic">
                <td>
                    <span id="tmpl-warning-message-extension">
                        {{ l10n("result.warning.extension", "excel-password-remover", page_lang) }}
                    </span>
                    <span id="tmpl-warning-message-no-password">
                        {{ l10n("result.warning.password", "excel-password-remover", page_lang) }}
                    </span>
                </td>
            </tr>
        </table>
    </div>
</template>

<template id="{{ applet_uid + "-" + applet_id + "-tmpl-error-root" }}">
    <div class="bkgd-grid10 w-full r-l border mt-xs">
        <table class="table-p-xxs table-v-center">
            <tr>
                <td rowspan="2" class="br bkgd-red bkgd-grid30 rl-l">
                    {% if is_standalone %}
                        <span class="mx-xxs">❌</span>
                    {% else %}
                        <i class="fa-duotone fa-solid fa-hexagon-exclamation mx-s"></i>
                    {% endif %}
                </td>
                <td class="w-full t-bold">
                    <span id="tmpl-error-filename">PlaceholderErrorName.xlsx</span>
                </td>
            </tr>
            <tr class="t-italic">
                <td>
                    <span id="tmpl-error-message-jszip">
                        {{ l10n("result.error.jszip", "excel-password-remover", page_lang) }}
                    </span>
                </td>
            </tr>
        </table>
    </div>
</template>

{% if is_standalone %}
    <section id="{{ applet_uid + "-" + applet_id + "-licenses" }}" class="mt-l mt-0-if-first">
        {% with heading_inner_html = l10n("license.title", "excel-password-remover", page_lang),
                heading_level = 2 %}
            {% include 'elements/heading.jinja' %}
        {% endwith %}

        <np-content-spacer>
            {% with paragraph_inner_html = l10n("license.text.1", "excel-password-remover", page_lang) + "<br>" +
                                            l10n("license.text.2", "excel-password-remover", page_lang) %}
                {% include 'elements/paragraph.jinja' %}
            {% endwith %}
        </np-content-spacer>
    </section>
{% endif %}
