{#
applets/vat_calculator.jinja

Parameters:
    * applet_id     - Applet ID as defined in the applet repository and templates in "templates/applets/".
                      Assumed to be correct from the get-go.
    * applet_uid    - Unique ID for the applet to differentiate it from other instances of the same applet.
    * applet_data   - See `nibblepoker.objects.content.applet.ContentApplet`.
    * applet_config - Config with all custom parameters overriding the default ones that you can
                       get in `applet_data.default_config`.
#}

{%
        set all_vat_data = [
            ["afghanistan",
                [[10, "standard"]], [
                "https://ard.gov.af/file_download/432/FAQs+of+VAT+English.pdf",
            ]],
            ["austria",
                [[10, "reduced"],[13, "reduced"],[20, "standard"]], [
                "https://www.usp.gv.at/en/themen/steuern-finanzen/umsatzsteuer-ueberblick/steuersaetze-und-steuerbefreiungen-der-umsatzsteuer.html",
            ]],
            ["belgium",
                [[6, "reduced"],[12, "intermediate"],[21, "standard"]], [
                "https://finance.belgium.be/en/enterprises/vat/vat-obligation/rates-and-calculation/vat-rates",
            ]],
            ["bulgaria",
                [[9, "reduced"],[20, "standard"]], [
                "https://www.bulgaria-tax-law.bg/vat-rates-eu-member-states.html"]],
            ["croatia",
                [[5, "reduced"],[13, "reduced"],[25, "standard"]], [
                "https://porezna-uprava.gov.hr/en/value-added-tax-h-e-reinafter-vat-information-on-the-general-rules-rates-and-exemptions-registering-for-and-paying-vat-obtaining-a-refund/7313",
            ]],
            ["cyprus",
                [[3, "reduced"],[5, "reduced"],[9, "reduced"],[19, "standard"]], [
                "https://www.mof.gov.cy/mof/tax/taxdep.nsf/All/6F2D9F654287FF02C2258251002C8130",
            ]],
            ["czechia",
                [[12, "reduced"],[21, "standard"]], [
                "https://portal.gov.cz/en/informace/general-rules-and-vat-rates-INF-205",
            ]],
            ["denmark",
                [[25, "standard"]], [
                "https://skat.dk/erhverv/moms/fradrag-for-moms",
            ]],
            ["estonia",
                [[9, "reduced"],[13, "reduced"],[24, "standard"]], [
                "https://www.emta.ee/en/business-client/taxes-and-payment/value-added-tax",
                "https://www.e-resident.gov.ee/blog/posts/a-guide-to-vat-for-e-residents/",
            ]],
            ["finland",
                [[10, "reduced"],[14, "reduced"],[25.5, "standard"]], [
                "https://www.vero.fi/en/businesses-and-corporations/taxes-and-charges/vat/rates-of-vat/",
            ]],
            ["france",
                [[2.1, "reduced"],[5.5, "reduced"],[10, "intermediate"],[20, "standard"]], [
                "https://www.economie.gouv.fr/cedef/les-fiches-pratiques/quels-sont-les-taux-de-tva-en-vigueur-en-france-et-dans-lunion",
            ]],
            ["france.corsica",
                [[0.9, "special"],[2.1, "reduced"],[5.5, "reduced"],[10, "intermediate"],[13, "special"],[20, "standard"]], [
                "https://www.economie.gouv.fr/particuliers/impots-et-fiscalite/gerer-mes-autres-impots-et-taxes/tva-quels-sont-les-taux-de-votre",
            ]],
            ["germany",
                [[7, "reduced"],[19, "standard"]], [
                "https://www.bundesfinanzministerium.de/Content/DE/Downloads/BMF_Schreiben/Steuerarten/Umsatzsteuer/Merkblaetter/2024-03-05-Umsatzsteuer-Merkblatt-Personenbefoerderung-Kraftomnibusse-englisch.pdf",
            ]],
            ["greece",
                [[6, "reduced.super"],[13, "reduced"],[24, "standard"]], [
                "https://www.gov.gr/en/sdg/taxes/vat/general/basic-vat-rates",
            ]],
            ["hungary",
                [[5, "preferential"],[18, "preferential"],[27, "standard"]], [
                "https://nav.gov.hu/pfile/file?path=/en/taxation/taxinfo/vat-liabilities-of-foreign-marketers-in-hungary",
            ]],
            ["ireland",
                [[4.8, "reduced"],[9, "reduced"],[13.5, "reduced"],[23, "standard"]], [
                "https://www.revenue.ie/en/vat/vat-rates/search-vat-rates/current-vat-rates.aspx",
            ]],
            ["italy",
                [[4, "reduced"],[5, "reduced"],[10, "reduced"],[22, "standard"]], [
                "https://www.agenziaentrate.gov.it/portale/web/english/nse/services/vat-mini-one-stop-shop/faq/vat-rates",
                "https://www.agenziaentrate.gov.it/portale/web/english/general-vat-rules-and-rates"
            ]],
            ["latvia",
                [[5, "reduced"],[12, "reduced"],[21, "standard"]], [
                "https://www.fm.gov.lv/lv/tax-rates",
            ]],
            ["lithuania",
                [[5, "reduced"],[9, "reduced"],[21, "standard"]], [
                "https://finmin.lrv.lt/en/competence-areas/taxation/main-taxes/value-added-tax/",
            ]],
            ["luxembourg",
                [[3, "reduced.super"],[8, "reduced"],[14, "intermediate"],[17, "standard"]], [
                "https://logistics.public.lu/en/formalities-procedures/taxes/value-added-tax/national-operations.html",
            ]],
            ["malta",
                [[5, "reduced"],[7, "reduced"],[12, "reduced"],[18, "standard"]], [
                "https://mtca.gov.mt/business-tax/vat1/vat-compliance/vat-rates/vat-rates",
            ]],
            ["monaco",
                [[2.1, "reduced"],[5.5, "reduced"],[10, "intermediate"],[20, "standard"]], [
                "https://monentreprise.gouv.mc/en/themes/accounting-obligations-and-tax/tax/vat",
                "https://www.economie.gouv.fr/particuliers/impots-et-fiscalite/gerer-mes-autres-impots-et-taxes/tva-quels-sont-les-taux-de-votre"
            ]],
            ["netherlands",
                [[9, "reduced"],[21, "standard"]], [
                "https://business.gov.nl/regulation/vat-rates-exemptions/",
            ]],
            ["poland",
                [[5, "reduced"],[8, "reduced"],[23, "standard"]], [
                "https://www.podatki.gov.pl/en/value-added-tax/general-vat-rules-and-rates/list-of-vat-rates/",
            ]],
            ["portugal",
                [[6, "reduced"],[13, "intermediate"],[23, "standard"]], [
                "https://www2.gov.pt/en/cidadaos-europeus-viajar-viver-e-fazer-negocios-em-portugal/impostos-para-atividades-economicas-em-portugal/imposto-sobre-valor-acrescentado-iva-em-portugal",
            ]],
            ["portugal.azores",
                [[4, "reduced"],[9, "intermediate"],[16, "standard"]], [
                "https://www2.gov.pt/en/cidadaos-europeus-viajar-viver-e-fazer-negocios-em-portugal/impostos-para-atividades-economicas-em-portugal/imposto-sobre-valor-acrescentado-iva-em-portugal",
            ]],
            ["portugal.madeira",
                [[5, "reduced"],[12, "intermediate"],[22, "standard"]], [
                "https://www2.gov.pt/en/cidadaos-europeus-viajar-viver-e-fazer-negocios-em-portugal/impostos-para-atividades-economicas-em-portugal/imposto-sobre-valor-acrescentado-iva-em-portugal",
            ]],
            ["romania",
                [[5, "reduced"],[9, "reduced"],[19, "standard"]], [
                "https://mfinante.gov.ro/referinte-tva",
                "https://www.mfinante.gov.ro/static/10/Mfp/legislatie/Ghid_TVA_parteaI.htm"
            ]],
            ["slovakia",
                [[5, "reduced"],[19, "reduced"],[23, "standard"]], [
                "https://www.slovensko.sk/en/life-situation/life-situation/_value-added-tax/",
            ]],
            ["slovenia",
                [[9.5, "reduced"],[22, "standard"]], [
                "https://www.fu.gov.si/en/taxes_and_other_duties/areas_of_work/value_added_tax_vat",
            ]],
            ["spain",
                [[4, "reduced"],[10, "reduced"],[21, "standard"]], [
                "https://sede.agenciatributaria.gob.es/Sede/en_gb/iva/calculo-iva-repercutido-clientes/tipos-impositivos-iva.html"
                "https://sede.agenciatributaria.gob.es/Sede/iva.html",
            ]],
            ["sweden",
                [[6, "reduced"],[12, "reduced"],[25, "standard"]], [
                "https://www.skatteverket.se/servicelankar/otherlanguages/englishengelska/businessesandemployers/startingandrunningaswedishbusiness/declaringtaxesbusinesses/vat/vatratesandvatexemption.4.676f4884175c97df419255d.html",
            ]],
        ]
%}

<label for="{{ applet_uid + "-" + applet_id + "-preset-short" }}"
       class="mr-xxs">
    {{ l10n("preset.label", "vat-calculator", page_lang) }}:
</label>
<select name="{{ applet_uid + "-" + applet_id + "-preset-short" }}"
        id="{{ applet_uid + "-" + applet_id + "-preset-short" }}"
        class="p-xxs border r-s">
    <option value="" selected>{{ l10n("rate.option.custom", "vat-calculator", page_lang) }}</option>
    <hr>

    {% for country_vat_data in all_vat_data %}
        <optgroup label="{{ l10n("country." + country_vat_data[0], "commons", page_lang) }}">

        {% for country_vat_rate in country_vat_data[1] %}
            <option value="{{ country_vat_rate[0] }}">
                {{ country_vat_rate[0] }} %
            </option>
        {% endfor %}

        </optgroup>
    {% endfor %}
</select>

<label for="{{ applet_uid + "-" + applet_id + "-preset-detailed" }}"
       class="mr-xxs"
       hidden>
    {{ l10n("preset.label", "vat-calculator", page_lang) }}:
</label>
<select name="{{ applet_uid + "-" + applet_id + "-preset-detailed" }}"
        id="{{ applet_uid + "-" + applet_id + "-preset-detailed" }}"
        class="p-xxs border r-s"
        hidden>
    <option value="" selected>{{ l10n("rate.option.custom", "vat-calculator", page_lang) }}</option>
    <hr>

    {% for country_vat_data in all_vat_data %}
        <optgroup label="{{ l10n("country." + country_vat_data[0], "commons", page_lang) }}">

        {% for country_vat_rate in country_vat_data[1] %}
            <option value="{{ country_vat_rate[0] }}">
                {{ country_vat_rate[0] }} %&emsp;({{ l10n("rate.type." + country_vat_rate[1], "vat-calculator", page_lang) }})
            </option>
        {% endfor %}

        </optgroup>
    {% endfor %}
</select>

<span id="{{ applet_uid + "-" + applet_id + "-preset-country-echo" }}"
      class="t-muted ml-xs t-italic mobile-hide"></span>

<br>

<label for="{{ applet_uid + "-" + applet_id + "-detailed-presets" }}"
       class="mr-xxs">{{ l10n("option.detailed", "vat-calculator", page_lang) }}:</label>
<input id="{{ applet_uid + "-" + applet_id + "-detailed-presets" }}"
       class="r-m border cb-pretty"
       type="checkbox">


<hr class="subtle">

<table id="{{ applet_uid + "-" + applet_id + "-rate-input-table" }}"
       class=""
       data-np-readonly-classes="bkgd-gray">
    <tr>
        <td>
            <input type="radio"
                   id="{{ applet_uid + "-" + applet_id + "-radio-rate" }}"
                   name="{{ applet_uid + "-" + applet_id + "-radio-group-target" }}"
                   value="0"
                   class="radio-solid border mr-xxs radio-unchecked-subtle">
            <label for="{{ applet_uid + "-" + applet_id + "-radio-rate" }}">
                {{ l10n("radio.rate", "vat-calculator", page_lang) }}
            </label>
        </td>
        <td>
            {% with input_label = none,
                    input_id = applet_uid + "-" + applet_id + "-input-rate",
                    input_number_min = "0",
                    input_extra_classes = "ml-xs" %}
                {% include 'elements/input-number.jinja' %}
            {% endwith %}

            {% if not is_standalone %}
                <i class="fa-duotone fa-solid fa-percent ml-xxs t-muted"></i>
            {% else %}%{% endif %}
        </td>
    </tr>

    <tr>
        <td class="pt-xxs">
            <input type="radio"
                   id="{{ applet_uid + "-" + applet_id + "-radio-untaxed" }}"
                   name="{{ applet_uid + "-" + applet_id + "-radio-group-target" }}"
                   value="1"
                   class="radio-solid border mr-xxs radio-unchecked-subtle"
                   checked>
            <label for="{{ applet_uid + "-" + applet_id + "-radio-untaxed" }}">
                {{ l10n("radio.untaxed", "vat-calculator", page_lang) }}
            </label>
        </td>
        <td class="pt-xxs">
            {% with input_label = none,
                    input_id = applet_uid + "-" + applet_id + "-input-untaxed",
                    input_readonly = True,
                    input_number_min = "0",
                    input_extra_classes = "ml-xs bkgd-gray" %}
                {% include 'elements/input-number.jinja' %}
            {% endwith %}

            {% if not is_standalone %}
                <i class="fa-duotone fa-solid fa-money-bill ml-xxs t-muted"></i>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td class="pt-xxs">
            <input type="radio"
                   id="{{ applet_uid + "-" + applet_id + "-radio-taxed" }}"
                   name="{{ applet_uid + "-" + applet_id + "-radio-group-target" }}"
                   value="2"
                   class="radio-solid border mr-xxs radio-unchecked-subtle">
            <label for="{{ applet_uid + "-" + applet_id + "-radio-taxed" }}">
                {{ l10n("radio.taxed", "vat-calculator", page_lang) }}
            </label>
        </td>
        <td class="pt-xxs">
            {% with input_label = none,
                    input_id = applet_uid + "-" + applet_id + "-input-taxed",
                    input_number_min = "0",
                    input_extra_classes = "ml-xs" %}
                {% include 'elements/input-number.jinja' %}
            {% endwith %}

            {% if not is_standalone %}
                <i class="fa-duotone fa-solid fa-money-bill ml-xxs t-muted"></i>
            {% endif %}
        </td>
    </tr>
</table>

<p class="t-muted ml-xs mt-xs t-italic">{{ l10n("text.radio.explanation", "vat-calculator", page_lang) }}</p>


<hr class="subtle">

{%
        set vat_calculator_roundings = [
            {
                "optgroup_label": "rounding.mode.group.regular",
                "entries": [
                    ["0", "rounding.mode.up", True, False],
                    ["1", "rounding.mode.down", False, False],
                    ["2", "rounding.mode.ceil", False, False],
                    ["3", "rounding.mode.floor", False, False]
                ]
            },
            {
                "optgroup_label": "rounding.mode.group.half",
                "entries": [
                    ["4", "rounding.mode.up.half", False, False],
                    ["5", "rounding.mode.down.half", False, False],
                    ["6", "rounding.mode.even.half", False, False],
                    ["7", "rounding.mode.ceil.half", False, False],
                    ["8", "rounding.mode.floor.half", False, False]
                ]
            }
        ]
%}
{% with input_label = l10n("rounding.mode.label", "vat-calculator", page_lang),
        input_id = applet_uid + "-" + applet_id + "-rounding-mode",
        input_select_entries = vat_calculator_roundings,
        input_select_l10n_domain_override = "vat-calculator",
        input_select_localize_optgroup_label = True,
        input_select_localize_entry_text = True %}
    {% include 'elements/input-select.jinja' %}
{% endwith %}

<br>

{% with input_label = l10n("option.decimal-places", "vat-calculator", page_lang),
        input_id = applet_uid + "-" + applet_id + "-option-decimal-places",
        input_value = "2",
        input_number_min = "0",
        input_number_max = "99",
        input_number_scrollable = True %}
    {% include 'elements/input-number.jinja' %}
{% endwith %}

<!--<br hidden>

<label for="vat-calculator-detailed-trim-zeroes" class="mr-xxs" hidden>{{ l10n("option.trim-zeroes", "vat-calculator", page_lang) }}:</label>
<input id="vat-calculator-detailed-trim-zeroes" class="r-m border cb-pretty" type="checkbox" hidden>

<hr class="subtle">
<details class="border bkgd-dark r-m mt-s">
    <summary class="p-xs">Click to show/hide all classes</summary>
    <div class="p-xs bt bkgd-grey">
        <p>
            <span class="code mr-xs">p-0</span>
        </p>
    </div>
</details>-->

{% if is_standalone or applet_config["always_show_licenses"] == True %}
    <hr class="subtle">
    <p class="t-half-muted">
        {{ l10n("license.text.1", "vat-calculator", page_lang) }}<br>
        {{ l10n("license.text.2", "vat-calculator", page_lang) }}
    </p>
{% endif %}
