
<h2>Test 123</h2>

<p id="web-usb-test-api-supported" hidden>Supported</p>
<p id="web-usb-test-api-not-supported" hidden>Not Available</p>
<p id="web-usb-test-api-support-unknown">Unknown / Blocked</p>

<button id="web-usb-test-list-all" class="p-xxs r-s border">List all</button>

<button id="web-usb-test-ba63-getter" class="p-xxs r-s border">Ba63</button>
